<div class="inline-block-wrapper">
  <div>
    <span>Autoplay:</span>
    <input type="checkbox" <%= 'checked' if params['autoadvance'].nil? or params['autoadvance']=='true' %> data-toggle="toggle" data-size="mini" name="autoadvance">
  </div>
  <% if current_ability.can? :edit, @playlist %>
    <div class="btn-group" id="edit-playlist-button">
      <%= link_to edit_playlist_path(@playlist) do %>
      <button type="button" class="btn btn-default btn-xs" style="display:block;" >
        <span class="fa fa-edit"></span> Edit Playlist
      </button>
      <% end %>
    </div>
   <% end %>
</div>
<h3 class="playlist-title">
  <% if @playlist.visibility==Playlist::PRIVATE %>
    <span class="fa fa-lock" alt="<%= t('playlist.lockAltText') %>" title="<%= t('playlist.lockAltText') %>"></span>
  <% else %>
    <span class="glyphicon glyphicon-unlock" alt="<%= t('playlist.unlockAltText') %>" title="<%= t('playlist.unlockAltText') %>"></span>
  <% end %>
  <%= @playlist.title %>
</h3>
<% if @playlist.comment.present? %>
  <div class="playlist-description">
    <%= @playlist.comment %>
  </div>
<% end %>
<ol class="side-playlist">
  <% clip_map = @playlist.clips.index_by{|c|c.id} %>
  <%= render partial: 'playlist_item', collection: @playlist.items, locals: { clip_map: clip_map } %>
</ol>

<% content_for :page_scripts do %>
  <script>
    function reload_player(segment, nativeUrl, isVideo) {
      splitUrl = nativeUrl.split('?');
      uri = splitUrl[0]+".js";
      params = "content="+segment;
      if (splitUrl.length>1) {
        params+='&'+splitUrl[1];
      }
      $.getJSON(uri, params, function(data){
        avalonPlayer.setStreamInfo(data)
      });
    }
  </script>
<% end %>
