<%#
Copyright 2011-2015, The Trustees of Indiana University and Northwestern
  University.  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.

You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed 
  under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
  CONDITIONS OF ANY KIND, either express or implied. See the License for the 
  specific language governing permissions and limitations under the License.
---  END LICENSE_HEADER BLOCK  ---
%>
<% @page_title = t('contact.title', :application_name => application_name) %>

<div class="container-fluid">

  <h2>Contact us</h2>
  <p>If you have questions or comments about this site, please fill out the form below.</p>
  <p><strong>All fields are required</strong></p>
  <div class='col-sm-10 col-md-8 col-lg-6'>
    <%= bootstrap_form_for @comment do |comment| %>
    <fieldset>
      <%= comment.text_field :name, label: 'Name' %>
      <%= comment.hidden_field :nickname %>
      <%= comment.email_field :email, label: 'Email address' %>
      <%= comment.email_field :email_confirmation, label: 'Confirm email address' %> 
      <%= comment.select :subject, @subjects, prompt: 'Select one' %>    
      <div id="support_details">
        <%= comment.label :resource, "What is the title of the resource you were viewing?" do |controls| %>
          <%= controls.text_field :resource, class: 'span4' %>
        <% end %>

        <%= comment.label :location, "Where were you accessing this resource? (check all that apply)" do |controls| %>
          <% @locations.each do |location| %>
            <%= check_box_tag "comment[location][]", location, @comment.location.include?(location) %> <%= location %><br/>
          <% end %>
        <% end %>

        <%= comment.label :device, "What kind of device are you using?" do |controls| %>
          <%= controls.text_field :device, class: 'span4' %>
        <% end %> 

        <%= comment.label :browser, "What browser are you using? (please include version if known)" do |controls| %>
          <%= controls.text_field :browser, class: 'span4' %>
        <% end %> 
      </div>
      <%= comment.text_area :comment, rows: 10 %>
      <%= comment.primary "Submit comments" %>
    </fieldset>
  <% end %>
</div>
</div>
